@charset "UTF-8";

body {
	background-image: url(LORAXXXX.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


div.a {
width: 50px;
height:25px;
 background-color:red;
position:fixed;
    
}

div.b {
width: 45px;
height:25px;
 background-color:green;
position:fixed;
    
}

div.c {
width: 75px;
height:25px;
 background-color:#86eb34;
position:fixed;
    
}

div.d {
width: 100px;
height:25px;
 background-color:yellow;
position:fixed;
    
}

div.e {
width: 100px;
height:25px;
 background-color:orange;
position:fixed;
    
}

div.f {
width: 115px;
height:25px;
 background-color: grey;
position:fixed;
    
}
div.g {
width: 100px;
height:25px;
 background-color: #34ebc9;
position:fixed;
    
}